@font-face {
  font-family: 'Titillium Web';
  src: url('../assets/fonts/Titilium_Web/TitilliumWeb-Regular.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Titillium Web', sans-serif;
}
